In [25]:
import sqlalchemy
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from config import password

In [26]:
temp_files = "Clean Data/avTempData.csv"
happiness_files = "Clean Data/happinessData.csv"
username = "postgres"

In [27]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Project-2')

In [28]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['avg_temp', 'happiness_data']

In [29]:
AvgTemp = Base.classes.avg_temp

In [30]:
Happiness = Base.classes.happiness_data

In [31]:
session = Session(engine)

In [57]:
temp_data = pd.read_csv(temp_files)
happiness_data = pd.read_csv(happiness_files)

In [89]:
temp_data = temp_data.rename(columns={"Country":"country"})

In [47]:
happiness_data.to_sql("happiness_data", con=engine, if_exists="append", index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "happiness_data" violates foreign key constraint "fk_happiness_data_country"
DETAIL:  Key (country)=(Netherlands) is not present in table "avg_temp".

[SQL: INSERT INTO happiness_data (country, happiness_rank, happiness_score, economy_gdp_per_capita, health_life_expectancy, freedom, trust_government_corruption, generosity, year) VALUES (%(country)s, %(happiness_rank)s, %(happiness_score)s, %(economy_gdp_per_capita)s, %(health_life_expectancy)s, %(freedom)s, %(trust_government_corruption)s, %(generosity)s, %(year)s)]
[parameters: ({'country': 'Switzerland', 'happiness_rank': 1, 'happiness_score': 7.587000000000001, 'economy_gdp_per_capita': 1.3965100000000001, 'health_life_expectancy': 0.9414299999999999, 'freedom': 0.66557, 'trust_government_corruption': 0.41978000000000004, 'generosity': 0.29678000000000004, 'year': 2015}, {'country': 'Iceland', 'happiness_rank': 2, 'happiness_score': 7.561, 'economy_gdp_per_capita': 1.3023200000000001, 'health_life_expectancy': 0.94784, 'freedom': 0.6287699999999999, 'trust_government_corruption': 0.14145, 'generosity': 0.4363, 'year': 2015}, {'country': 'Denmark', 'happiness_rank': 3, 'happiness_score': 7.527, 'economy_gdp_per_capita': 1.32548, 'health_life_expectancy': 0.87464, 'freedom': 0.6493800000000001, 'trust_government_corruption': 0.48357, 'generosity': 0.34139, 'year': 2015}, {'country': 'Norway', 'happiness_rank': 4, 'happiness_score': 7.522, 'economy_gdp_per_capita': 1.459, 'health_life_expectancy': 0.88521, 'freedom': 0.66973, 'trust_government_corruption': 0.36503, 'generosity': 0.34699, 'year': 2015}, {'country': 'Canada', 'happiness_rank': 5, 'happiness_score': 7.4270000000000005, 'economy_gdp_per_capita': 1.32629, 'health_life_expectancy': 0.9056299999999999, 'freedom': 0.63297, 'trust_government_corruption': 0.32957, 'generosity': 0.45811, 'year': 2015}, {'country': 'Finland', 'happiness_rank': 6, 'happiness_score': 7.406000000000001, 'economy_gdp_per_capita': 1.29025, 'health_life_expectancy': 0.8891100000000001, 'freedom': 0.64169, 'trust_government_corruption': 0.41372, 'generosity': 0.23351, 'year': 2015}, {'country': 'Netherlands', 'happiness_rank': 7, 'happiness_score': 7.377999999999999, 'economy_gdp_per_capita': 1.32944, 'health_life_expectancy': 0.89284, 'freedom': 0.6157600000000001, 'trust_government_corruption': 0.31814000000000003, 'generosity': 0.4761, 'year': 2015}, {'country': 'Sweden', 'happiness_rank': 8, 'happiness_score': 7.364, 'economy_gdp_per_capita': 1.33171, 'health_life_expectancy': 0.9108700000000001, 'freedom': 0.6598, 'trust_government_corruption': 0.43843999999999994, 'generosity': 0.36262, 'year': 2015}  ... displaying 10 of 1084 total bound parameter sets ...  {'country': 'Zimbabwe', 'happiness_rank': 148, 'happiness_score': 3.145, 'economy_gdp_per_capita': 7.943, 'health_life_expectancy': 0.27122036899999996, 'freedom': 0.677, 'trust_government_corruption': 0.821, 'generosity': -0.047, 'year': 2021}, {'country': 'Afghanistan', 'happiness_rank': 149, 'happiness_score': 2.523, 'economy_gdp_per_capita': 7.695, 'health_life_expectancy': 0.141000878, 'freedom': 0.382, 'trust_government_corruption': 0.924, 'generosity': -0.102, 'year': 2021})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [59]:
happiness_data_mismatch = happiness_data[~happiness_data['country'].isin(temp_data['country'])]

In [60]:
happiness_data_mismatch

,country,happiness_rank,happiness_score,economy_gdp_per_capita,health_life_expectancy,freedom,trust_government_corruption,generosity,year
37,Taiwan,38,6.298,1.29098,0.875300,0.39740,0.08129,0.25376,2015
40,Trinidad and Tobago,41,6.168,1.21183,0.614830,0.55884,0.01140,0.31844,2015
65,North Cyprus,66,5.695,1.20806,0.923560,0.49027,0.14280,0.26169,2015
68,Kosovo,69,5.589,0.80148,0.631320,0.24749,0.04741,0.28310,2015
71,Hong Kong,72,5.474,1.38604,1.013280,0.59608,0.37124,0.39478,2015
...,...,...,...,...,...,...,...,...,...
1017,Congo (Brazzaville),83,5.342,8.11700,0.342160,0.69500,0.74500,-0.06800,2021
1028,North Macedonia,94,5.101,9.69300,0.596874,0.75100,0.90500,0.03800,2021
1032,Gambia,98,5.051,7.68600,0.234662,0.69700,0.74600,0.42400,2021
1042,Georgia,108,4.891,9.58500,0.555645,0.78300,0.65500,-0.23800,2021
1059,Palestinian Territories,125,4.517,8.48500,0.483652,0.65300,0.82100,-0.16300,2021

In [62]:
len(happiness_data_mismatch["country"].unique())

20

In [67]:
happiness_data_match = happiness_data[happiness_data['country'].isin(temp_data['country'])]
happiness_data_match

,country,happiness_rank,happiness_score,economy_gdp_per_capita,health_life_expectancy,freedom,trust_government_corruption,generosity,year
0,Switzerland,1,7.587,1.39651,0.941430,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.947840,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,0.874640,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,0.885210,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,0.905630,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...
1079,Lesotho,145,3.512,7.92600,0.007796,0.71500,0.91500,-0.13100,2021
1080,Botswana,146,3.467,9.78200,0.378964,0.82400,0.80100,-0.24600,2021
1081,Rwanda,147,3.415,7.67600,0.453802,0.89700,0.16700,0.06100,2021
1082,Zimbabwe,148,3.145,7.94300,0.271220,0.67700,0.82100,-0.04700,2021
1083,Afghanistan,149,2.523,7.69500,0.141001,0.38200,0.92400,-0.10200,2021

In [68]:
len(happiness_data_match["country"].unique())

152

In [92]:
happiness_data_match = happiness_data_match.dropna(how="any")

In [93]:
happiness_data_match.to_sql("happiness_data", con=engine, if_exists="append", index=False)

In [64]:
avg_temp_data_match = temp_data[temp_data['country'].isin(happiness_data['country'])]
avg_temp_data_match

         country yearly_average_temp
0    Afghanistan       12.60 celsius
1        Albania       11.40 celsius
2        Algeria       22.50 celsius
4         Angola       21.55 celsius
6      Argentina       14.80 celsius
..           ...                 ...
186    Venezuela       25.35 celsius
187      Vietnam       24.45 celsius
188        Yemen       23.85 celsius
189       Zambia       21.40 celsius
190     Zimbabwe                  21

[152 rows x 2 columns]

In [72]:
len(avg_temp_data_match["country"])

152

In [90]:
avg_temp_data_match.to_sql("avg_temp", con=engine, if_exists="append", index=False)

In [77]:
happiness_data_match

,country,happiness_rank,happiness_score,economy_gdp_per_capita,health_life_expectancy,freedom,trust_government_corruption,generosity,year
0,Switzerland,1,7.587,1.39651,0.941430,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.947840,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,0.874640,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,0.885210,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,0.905630,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...
1079,Lesotho,145,3.512,7.92600,0.007796,0.71500,0.91500,-0.13100,2021
1080,Botswana,146,3.467,9.78200,0.378964,0.82400,0.80100,-0.24600,2021
1081,Rwanda,147,3.415,7.67600,0.453802,0.89700,0.16700,0.06100,2021
1082,Zimbabwe,148,3.145,7.94300,0.271220,0.67700,0.82100,-0.04700,2021
1083,Afghanistan,149,2.523,7.69500,0.141001,0.38200,0.92400,-0.10200,2021

In [78]:
happiness_data_match.dtypes

country                         object
happiness_rank                   int64
happiness_score                float64
economy_gdp_per_capita         float64
health_life_expectancy         float64
freedom                        float64
trust_government_corruption    float64
generosity                     float64
year                             int64
dtype: object

In [87]:
happiness_2015 = happiness_data_match[happiness_data_match["year"] == 2015]
happiness_2015

,country,happiness_rank,happiness_score,economy_gdp_per_capita,health_life_expectancy,freedom,trust_government_corruption,generosity,year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.42864,0.59201,0.55191,0.22628,2015
154,Benin,155,3.340,0.28665,0.31910,0.48450,0.08010,0.18260,2015
155,Syria,156,3.006,0.66320,0.72193,0.15684,0.18906,0.47179,2015
156,Burundi,157,2.905,0.01530,0.22396,0.11850,0.10062,0.19727,2015
157,Togo,158,2.839,0.20868,0.28443,0.36453,0.10731,0.16681,2015

In [88]:
happiness_2016 = happiness_data_match[happiness_data_match["year"] == 2016]
happiness_2016

,country,happiness_rank,happiness_score,economy_gdp_per_capita,health_life_expectancy,freedom,trust_government_corruption,generosity,year
158,Denmark,1,7.526,1.44178,0.79504,0.57941,0.44453,0.36171,2016
159,Switzerland,2,7.509,1.52733,0.86303,0.58557,0.41203,0.28083,2016
160,Iceland,3,7.501,1.42666,0.86733,0.56624,0.14975,0.47678,2016
161,Norway,4,7.498,1.57744,0.79579,0.59609,0.35776,0.37895,2016
162,Finland,5,7.413,1.40598,0.81091,0.57104,0.41004,0.25492,2016
...,...,...,...,...,...,...,...,...,...
310,Benin,153,3.484,0.39499,0.21028,0.39747,0.06681,0.20180,2016
311,Afghanistan,154,3.360,0.38227,0.17344,0.16430,0.07112,0.31268,2016
312,Togo,155,3.303,0.28123,0.24811,0.34678,0.11587,0.17517,2016
313,Syria,156,3.069,0.74719,0.62994,0.06912,0.17233,0.48397,2016
314,Burundi,157,2.905,0.06831,0.15747,0.04320,0.09419,0.20290,2016